$green: #8fc31f
$light-green: #f4f9e8

html body
  padding: 0
  margin: 0

a
  padding: 0
  margin: 0
  color: black
  text-decoration: none

body, p, a
  font-family: tbchibirgothicplusk-pro, sans-serif
  font-style: normal
  font-weight: 400

.navbar
  height: 72px
  padding: 0 16px
  position: fixed
  top: 0
  left: 0
  box-sizing: border-box
  z-index: 10
  background-color: white
  width: 100%

  .navbar_content
    display: flex
    width: 100%
    height: 72px
    max-width: 900px
    align-items: center
    justify-content: space-between
    box-sizing: border-box
    margin: auto

  .navbar_logo
    height: 40px

  .navbar_menu-items
    display: flex
    align-items: center

    .navbar_menu-item
      padding: 16px
      box-sizing: border-box

      &:hover
        .navbar_label
          color: $green

      .navbar_label
        font-size: 0.75rem
        transition: 0.3s linear

      .navbar_en-label
        font-size: 0.75rem
        color: $green

  .navbar_burger-menu
    display: none

.menu-page
  .menu-page_close-button
    position: absolute
    right: 16px
    top: 16px
    color: white

  .menu-page_menu-items
    display: flex
    widht: 100%
    height: 100vh
    justify-content: center
    align-items: center

    .menu-page_menu-item
      color: white
      margin: 8px

.index-page
  width: calc(100%)
  max-width: 900px

  .index-page_header-image
    position: relative
    background-size: cover
    background-position: center
    height: 300px
    width: 100vw
    left: 50%
    transform: translateX(-50%)
    display: flex
    align-items: center
    justify-content: center
  
  .index-page_header-box
    max-width: 900px
    width: 100%
    margin: auto
    justify-content: flex-start

    .index-page_header-title
      display: inline-block
      background-color: rgba(143,195,31, 0.9)
      color: white
      padding: 16px 32px 16px 24px

      h5
        line-height: 2

  .index-page_about-us-section
    position: relative
    background-color: #f7f8f8
    width: 100vw
    left: 50%
    transform: translateX(-50%)
    border-bottom: 3px solid $light-green

    .index-page_grid
      width: 100%
      max-width: 900px
      margin: auto

      .index-page_left-grid
        display: flex
        justify-content: center
        align-items: center
        padding: 80px 0
        box-sizing: border-box

        .index-page_photo
          max-width: 300px
          width: 100%
          border-radius: 8px
          border: 3px solid #8fc31faa

      .index-page_right-grid
        display: flex
        justify-content: center
        align-items: center
        padding: 80px 16px
        box-sizing: border-box

        .index-page_description-box
          margin: auto 0

          .index-page_en-label
            text-transform: uppercase
            margin-bottom: 8px

          .index-page_label
            margin-bottom: 8px
          
          .index-page_more-button
            margin: 32px 0 0 0
            height: 40px
            width: 160px
            display: flex
            justify-content: center
            align-items: center
            border-radius: 20px
            background-color: $green
            color: white
            transition: 0.3s linear

            &:hover
              opacity: 0.8

  .index-page_activity-section
    position: relative
    width: 100vw
    left: 50%
    transform: translateX(-50%)
    border-bottom: 3px solid $light-green

    .index-page_grid
      width: 100%
      max-width: 900px
      margin: auto

      .index-page_title-grid
        padding: 24px 0

        .index-page_en-label
          text-transform: uppercase
          margin-bottom: 8px

        .index-page_label
          margin-bottom: 8px

      .index-page_activity-grid
        position: relative
        height: 400px
        color: white
        border: 1px solid white
        text-align: center
        background-size: cover
        background-position: center

        .index-page_image-mask
          background-color: rgba(0,0,0,0.4)
          position: absolute
          height: 100%
          width: 100%
          top: 0
          right: 0
          bottom: 0
          left: 0
          content: ''
          transition: 0.3s linear

          &:hover
            background-color: $green

          .index-page_nyanko-line
            max-width: 100px
            margin: 40px

          .index-page_title
            margin: 16px

          .index-page_description
            margin: 16px

      .index-page_action-grid
        padding: 32px 0 40px 0
        display: flex
        justify-content: center
        align-items: center

        .index-page_contact-button
          height: 40px
          width: 160px
          display: flex
          justify-content: center
          align-items: center
          border-radius: 20px
          background-color: $green
          color: white
          transition: 0.3s linear

          &:hover
            opacity: 0.8

  .index-page_blog-section
    position: relative
    width: 100vw
    left: 50%
    transform: translateX(-50%)
    border-bottom: 3px solid $light-green

    .index-page_grid
      width: 100%
      max-width: 900px
      margin: auto

      .index-page_title-grid
        padding: 24px 0

        .index-page_en-label
          text-transform: uppercase
          margin-bottom: 8px

        .index-page_label
          margin-bottom: 8px

      .index-page_action-grid
        padding: 32px 0 40px 0
        display: flex
        justify-content: center
        align-items: center

        .index-page_more-button
          margin: 32px 0 0 0
          height: 40px
          width: 160px
          display: flex
          justify-content: center
          align-items: center
          border-radius: 20px
          background-color: $green
          color: white
          transition: 0.3s linear

          &:hover
            opacity: 0.8

  .section-title
    display: flex
    width: 100%
    justify-content: center
    align-items: center
    padding: 24px 0
  
  .section-action
    display: flex
    width: 100%
    justify-content: center
    align-items: center
    padding: 16px 0

.about-page
  .section-title
    display: flex
    width: 100%
    justify-content: center
    align-items: center
    padding: 24px 0

.blog-list-page
  .section-title
    display: flex
    width: 100%
    justify-content: center
    align-items: center
    padding: 24px 0

.member-page
  .profile
    padding: 16px
    .avatar
      div
        width: 300px
        height: 300px
        margin: 16px auto
        img
          border-radius: 150px

.member-list-page
  .section-title
    display: flex
    width: 100%
    justify-content: center
    align-items: center
    padding: 24px 0

.contact-page
  .section-title
    display: flex
    width: 100%
    justify-content: center
    align-items: center
    padding: 24px 0

  .control
    width: 100%
    margin: 16px 0

    .input, .textarea
      width: 100%
      box-shadow: inset 0 1px 2px rgba(43,37,35,.1)
      background-color: #ffffff
      border-radius: 8px
      color: #363636
      align-items: center
      border: 1px solid #cccccc
      display: inline-flex
      font-size: 1rem
      justify-content: flex-start
      line-height: 1.5
      padding: calc(.375em - 1px) calc(.625em - 1px)
      vertical-align: top
      box-sizing: border-box

    .input
      height: 2.25em

    .textarea
      max-width: 100%
      min-width: 100%

.blog-roll
  width: calc(100% - 16px)
  margin: auto
  .card
    display: flex

    .thumbnail
      width: 300px
  
  .pagination
    width: 100%
    display: flex
    justify-content: center
    align-items: center

.blog-card-roll
  overflow-x: auto
  margin: 0 8px
  text-align: center

  .blog-card-roll_scroll-list
    white-space: nowrap
    display: flex
    overflow-y: hidden
    overflow-x: auto
    justify-content: center
    align-items: center
    -webkit-overflow-scrolling: touch
    display: inline-block

  .blog-card-roll_card
    display: inline-block
    width: 270px
    margin: 8px
    white-space: normal
    text-align: left

.member-roll
  width: calc(100% - 16px)
  margin: auto
  
  .avatar
    div
      width: 100px
      height: 100px
      margin: 16px auto
      img
        border-radius: 50px

  .pagination
    width: 100%
    display: flex
    justify-content: center
    align-items: center


  .name
    font-family: tbchibirgothicplusk-pro, sans-serif
    font-style: normal
    font-weight: 400

.page
  overflow-x: hidden

  .page_content
    position: relative
    right: 0
    width: calc(100vw - 16px)
    max-width: 900px
    margin: auto
    margin-top: 72px

  .page_menu-page
    right: -100vw

  .page_content-open
    animation: none

  .page_content-close
    animation: none

  .page_menu-page-open
    animation: none

  .page_menu-page-close
    animation: none

  .page_menu-page
    position: fixed
    top: 0
    width: 100%
    height: 100vh
    background-color: $green
    z-index: 20

.loading-page
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh

@keyframes content-open
  0%   { right: 0 }
  100% { right: 50vw }

@keyframes content-close
  0%   { right: 50vw }
  100% { right: 0 }

@keyframes menu-page-open
  0%   { right: -100vw }
  100% { right: 0 }

@keyframes menu-page-close
  0%   { right: 0 }
  100% { right: -100vw }

@keyframes load
  0%   { opacity: 0 }
  100% { opacity: 1 }

@media (max-width: 900px)
  .navbar
    .navbar_content
      .navbar_menu-items
        display: none
      .navbar_burger-menu
        display: block

  .index-page
    .image
      height: 200px

  .page
    .page_content
      position: relative
      right: 0
      
    .page_content-open
      animation: content-open 0.7s ease-in-out forwards

    .page_content-close
      animation: content-close 0.7s ease-in-out forwards

    .page_menu-page
      right: -100vw

    .page_menu-page-open
      animation: menu-page-open 0.7s ease-in-out forwards

    .page_menu-page-close
      animation: menu-page-close 0.7s ease-in-out forwards

@media (max-width: 600px)

  .index-page
    .index-page_header-image
      .index-page_header-box
        .index-page_header-title
          h5
            font-size: 1em
    .index-page_about-us-section
      .index-page_grid
        .index-page_left-grid
          padding: 48px 0 24px 0
        .index-page_right-grid
          padding: 24px 16px 48px 16px
          .index-page_description-box
            .index-page_more-button
              margin: 32px auto 0 auto